**
!docker/
!docker/**
!source/
!source/**
!scripts/
!scripts/**
!assets/
!assets/**
!tests/
!tests/**
!docs/
!docs/**
!README.md
!LICENSE*
!NOTICE*
**/__pycache__/
**/*.pyc
**/.env
**/.env.*
**/*credentials*
